body {
  background-color: #BFBABA;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

button, input, h1, h3, h5, label {
  letter-spacing: 10px;
  text-transform: uppercase;
}

input {
  text-transform: none;
}
